@model JTL.TAX1040.Admin.BusinessObject.UserAdmin

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Change Password</legend>
        <ol>
            <li>
                @Html.LabelFor(sm => sm.UserName)
                @Html.TextBoxFor(sm => sm.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(sm => sm.OldPassword)
                @Html.TextBoxFor(sm => sm.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </li>

            <li>
                @Html.LabelFor(sm => sm.NewPassword)
                @Html.TextBoxFor(sm => sm.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            
            <li>
                @Html.LabelFor(sm => sm.ConfirmNewPassword)
                @Html.TextBoxFor(sm => sm.ConfirmNewPassword)
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
            </li>
            
            <li>@Html.HiddenFor(sm => sm.UserAdminId)</li>

        </ol>

        <input type="submit" value="Change" />
        <input type="submit" value="Reset" />
    </fieldset>
}